// SCSS stands for Sassy CSS
// SCSS is a superset of CSS
// We can define variables, functions and more in SCSS

ion-img {
  margin-top: 50px;
  // height: 500px;
  overflow: hidden;
}

ion-title {
  color: blueviolet;
  text-align: center;
}
